<p-growl [(value)]="msgs"></p-growl>

<p-panel id="panel" header="Get Airport Information Query">
  <form [formGroup]="airportInfoQueryForm" (submit)="doGetAirportInfoQueryResult()">
    <div class="ui-grid-row">
      <div class="ui-grid-col-2">
        <label>Country Name</label>
      </div>
      <div class="ui-grid-row">
        <input type="text" pInputText placeholder="Netherlands" formControlName="countryName"/>
      </div>
    </div>

    <div class="ui-grid-row">
      <div class="ui-grid-col-2">
        <label>Country Code</label>
      </div>
      <div class="ui-grid-row">
        <input type="text" pInputText placeholder="NL" formControlName="countryCode"/>
      </div>
    </div>

    <div class="ui-grid-row">
      <div class="ui-grid-col-2">
        <button pButton type="submit" label="Get"
                [disabled]="airportInfoQueryForm.value['countryName'] == '' && airportInfoQueryForm.value['countryCode'] == ''"></button>
      </div>
    </div>
  </form>

  <div class="ui-grid-row" *ngIf="airportInformationQueryResponse">
    <p-panel header="Airport Info Query Results" [style]="{'margin':'10px'}">
      <p-table [value]="airportInformationQueryResponse.airportInformationByCountryResponses">
        <ng-template pTemplate="header">
          <tr>
            <th>Country Name</th>
            <th>Country Code</th>
            <th>Airport Name</th>
            <th>Runway ID</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-airportInfoQuery>
          <tr>
            <td>{{airportInfoQuery.countryName}}</td>
            <td>{{airportInfoQuery.countryCode}}</td>
            <td>{{airportInfoQuery.airportName}}</td>
            <td>{{airportInfoQuery.runwayId}}</td>
          </tr>
        </ng-template>

      </p-table>

      <div class="ui-grid-row"
           *ngIf="!airportInformationQueryResponse && airportInformationQueryResponse.airportInformationByCountryResponses.length === 0">
        <h5>No records are found with the given info!</h5>
      </div>
    </p-panel>
  </div>
  <br>
</p-panel>
